.logo {
    /*margin: 10px 10px 10px 10px;*/
    width: 60%;
}
nav a {
    color: #484848;
}
nav a:hover {
    text-decoration: underline !important;
    background: none !important;
    color: inherit;
}
#tabzilla::before {
    background-color: #484848;
}
/*edited by ruwaiz*/
/* the css for carousel starts*/
.carousel-inner {
    width: 100%;
    background: #F6F4EC;
    max-height: 50vh !important;
    object-fit: cover;
}
.carousel-inner img {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    border-color: #000;
    border-width: thick;
    border-radius: 3px;
}
/*mozkeralalogo*/
#mozkeralalogo {
    margin-bottom: 1%;
}
/*loader*/
body {
    overflow: hidden;
}
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url('../img/mozilla.gif');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}
